[package]
name = "ton-node-tools"
version = "0.1.8"
edition = "2018"
build = "common/build/build.rs"

[dependencies]
base64 = "0.11.0"
failure = "0.1.6"
hex = "0.4.2"
log = "0.4.11"
log4rs = "0.8.3"
serde = "1.0.105"
serde_json = "1.0.56"
shell-words = ""
clap = "2.33.3"

adnl = { git = "https://github.com/tonlabs/ton-labs-adnl.git", features = ["client"] }
dht = { git = "https://github.com/tonlabs/ton-labs-dht.git" }
overlay = { git = "https://github.com/tonlabs/ton-labs-overlay.git" }
tokio = { version = "1.3.0", features = ["rt-multi-thread", "macros", "time"] }
ton_api = { git = "https://github.com/tonlabs/ton-labs-tl.git", package = "ton_api" }
ton_block = { git = "https://github.com/tonlabs/ton-labs-block.git" }
ton_block_json = { git = "https://github.com/tonlabs/ton-labs-block-json.git" }
ton_node = { git = "https://github.com/tonlabs/ton-labs-node.git" }
ton_types = { git = "https://github.com/tonlabs/ton-labs-types.git" }

[[bin]]
name = "dhtscan"
path = "bin/dhtscan.rs"

[[bin]]
name = "gendht"
path = "bin/gendht.rs"

[[bin]]
name = "console"
path = "bin/console.rs"

[[bin]]
name = "keygen"
path = "bin/keygen.rs"

[[bin]]
name = "print"
path = "bin/print.rs"

[[bin]]
name = "zerostate"
path = "bin/zerostate.rs"
