[package]
build = 'common/build/build.rs'
edition = '2018'
name = 'ton-node-tools'
version = '0.1.240'

[workspace]


[[bin]]
name = 'adnl_resolve'
path = 'bin/adnl_resolve.rs'


[[bin]]
name = 'adnl_ping'
path = 'bin/adnl_ping.rs'


[[bin]]
name = 'dhtscan'
path = 'bin/dhtscan.rs'


[[bin]]
name = 'gendht'
path = 'bin/gendht.rs'


[[bin]]
name = 'console'
path = 'bin/console.rs'


[[bin]]
name = 'keygen'
path = 'bin/keygen.rs'


[[bin]]
name = 'keyid'
path = 'bin/keyid.rs'


[[bin]]
name = 'print'
path = 'bin/print.rs'


[[bin]]
name = 'zerostate'
path = 'bin/zerostate.rs'

[dependencies]
base64 = '0.11.0'
clap = '2.33.3'
failure = '0.1.6'
hex = '0.4.2'
log = '0.4.11'
log4rs = '0.8.3'
serde = '1.0.105'
serde_json = '1.0.56'
shell-words = '1.0.0'
adnl = { features = [ 'client' ], git = 'https://github.com/tonlabs/ton-labs-adnl.git', tag = '0.7.63' }
dht = { git = 'https://github.com/tonlabs/ton-labs-dht.git', tag = '0.5.60' }
overlay = { git = 'https://github.com/tonlabs/ton-labs-overlay.git', tag = '0.6.48' }
tokio = { features = [ 'rt-multi-thread' ], version = '1.5.0' }
ton_api = { git = 'https://github.com/tonlabs/ton-labs-tl.git', package = 'ton_api', tag = '0.2.116' }
ton_block = { git = 'https://github.com/tonlabs/ton-labs-block.git', tag = '1.7.35' }
ton_block_json = { git = 'https://github.com/tonlabs/ton-labs-block-json.git', tag = '0.6.32' }
ton_node = { git = 'https://github.com/tonlabs/ton-labs-node.git', tag = '0.48.9' }
ton_types = { git = 'https://github.com/tonlabs/ton-labs-types.git', tag = '1.10.12' }

[features]
default = [ 'telemetry' ]
telemetry = [ 'adnl/telemetry', 'dht/telemetry', 'overlay/telemetry' ]

